<p id="notice"><%= notice %></p>

<p>
  <strong>Entry:</strong>
  <%= @user.entry %>
</p>

<p>
  <strong>Author:</strong>
  <%= @user.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @user.date %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
